DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
API_URL=http://localhost
PORT=7890
COOKIE_NAME=session
JWT_SECRET=secret
CLIENT_ID=ec1e95dd5b4de214341d
CLIENT_SECRET=5edec771cb99d4cc1a10b9e92b8ddcb226cf6189 
REDIRECT_URI=http://localhost:7890/api/v1/github/login/callback
